/* red-hat-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-text-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red-hat-text-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/red-hat-text-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* =====================
     Colors
  ===================== */
  --color-red: #c7380f;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  --color-green: #1ea575;

  --color-black: #000000;
  --color-white: #ffffff;

  /* =====================
     Typography
  ===================== */
  --font-red-hat-text: "Red Hat Text", sans-serif;

  /* Text Preset 1 - Bold */
  --text-preset-1-size: 5.6rem; /* 56px */
  --text-preset-1-line-height: 1.2; /* 120% */
  --text-preset-1-letter-spacing: 0;
  --text-preset-1-weight: 700;

  /* Text Preset 2 - Bold */
  --text-preset-2-size: 2.4rem; /* 24px */
  --text-preset-2-line-height: 1.25; /* 125% */
  --text-preset-2-letter-spacing: 0;
  --text-preset-2-weight: 700;

  /* Text Preset 3 - Semi Bold */
  --text-preset-3-size: 1.6rem; /* 16px */
  --text-preset-3-line-height: 1.5; /* 150% */
  --text-preset-3-letter-spacing: 0;
  --text-preset-3-weight: 600;

  /* Text Preset 4 - Regular */
  --text-preset-4-size: 1.4rem; /* 14px */
  --text-preset-4-line-height: 1.5; /* 150% */
  --text-preset-4-letter-spacing: 0;
  --text-preset-4-weight: 400;

  /* Text Preset 4 Bold - Semi Bold */
  --text-preset-4-bold-size: 1.4rem; /* 14px */
  --text-preset-4-bold-line-height: 1.5; /* 150% */
  --text-preset-4-bold-letter-spacing: 0;
  --text-preset-4-bold-weight: 600;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

img {
  object-fit: contain;
  display: flex;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--color-rose-50);
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  font-weight: var(--text-preset-3-weight);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  display: flex;
  gap: 3.2rem;
  max-width: 1276px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}
.desserts__container {
  display: flex;
  flex-direction: column;
}
.desserts {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}
.your-cart {
  width: 30%;
  background-color: var(--color-white);
  height: 100%;
  padding: 2.4rem;
  border-radius: 1.2rem;
}
.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 3.2rem;
  color: var(--color-rose-900);
}

.card {
}
.card__image {
  border-radius: 0.8rem;
  width: 100%;
  border: 2px solid transparent;
}
.card__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.card__add__to {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 999px;
  border: 1px solid var(--color-rose-400);
  cursor: pointer;
  padding: 1.1rem 2.8rem;
  width: 160px;
  font-family: inherit;
  margin-top: -22px;
  position: relative;
  z-index: 100%;
  span {
    flex-shrink: 0;
    font-weight: 600;
    font-size: var(--text-preset-4-bold-size);
  }
}
.card__btns-amount {
  background-color: var(--color-red);
  width: 160px;
  padding: 1rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -22px;
  position: relative;
  z-index: 100%;
  color: var(--color-white);
  cursor: pointer;
}
.card__btn-amount {
  background-color: transparent;
  border: 0;
  border: 1px solid var(--color-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  &:hover {
    background-color: var(--color-white);
    transition: 0.3s;
  }

  &:hover svg path {
    fill: var(--color-red);
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.card__category {
  font-weight: 400;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-500);
}
.card__name {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-900);
}
.card__price {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-red);
}
.your-cart__title {
  font-weight: var(--text-preset-2-weight);
  font-size: var(--text-preset-2-size);
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
  color: var(--color-red);
  margin-bottom: 2.4rem;
}
.your-cart__desc {
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
  text-align: center;
  color: var(--color-rose-500);
  margin-bottom: 1.6rem;
}
.your-cart__empty-image {
  margin-bottom: 1.6rem;
  width: 100%;
}

.dessert-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.3rem;
  border-bottom: 1px solid var(--color-rose-100);
  padding-bottom: 1.6rem;
}
.dessert-item__body {
  display: flex;
  flex-direction: column;
}
.dessert-item__title {
  font-weight: 600;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-900);
  margin-bottom: 0.8rem;
}
.dessert-item__info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.dessert-item__amount {
  font-weight: 600;
  font-size: var(--text-preset-4-bold-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-red);
}
.dessert-item__price {
  font-weight: 400;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-500);
}
.dessert-item__totalprice {
  font-weight: 600;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-500);
}
.dessert-item__remove {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--color-rose-400);
  padding: 2px 4px;
  border-radius: 50%;
  transition: all 0.3s;
  &:hover {
    border-color: var(--color-rose-900);
  }
}
.dessert-item__remove:hover svg path {
  fill: #260f08;
}
.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}
.order-total__title {
  font-weight: 400;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
}
.order-total__price {
  font-family: Red Hat Text;
  font-weight: 700;
  font-size: var(--text-preset-2-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-900);
}
.carbon-neutral {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.87px;
  padding: 16px;
  background-color: var(--color-rose-50);
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
.carbon-image {
  width: 20px;
  height: 20px;
  width: 100;
}
.carbon__desc {
  font-weight: 400;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-900);
  flex-shrink: 0;
}
.your-cart__btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  width: 100%;
  border-radius: 999px;
  cursor: pointer;
  border: 0;
  background-color: var(--color-red);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--color-white);
  letter-spacing: 0%;
  &:hover {
    background-color: #952c0b;
  }
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
}

.order-confirmed {
  margin-bottom: 3.2rem;
}
.order-confirmed__image {
  margin-bottom: 2.4rem;
}
.order-confirmed__title {
  font-weight: 700;
  font-size: var(--text-preset-1-size);
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--color-rose-900);
  margin-bottom: 0.8rem;
}
.order-confirmed__desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-500);
}

.order-confirmed__list {
  background-color: var(--color-rose-50);
  padding: 24px;
  margin-bottom: 3.2rem;
  border-radius: 0.8rem;
}
.order-confirmed__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-rose-100);
}
.order-confirmed__body {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

.order-confirmed__image {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 0.4rem;
  flex-shrink: 0;
}

.order-confirmed__info {
  display: flex;
  flex-direction: column;
}
.order-confirmed__name {
  padding-top: 2px;
  font-weight: 600;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-900);
  margin-bottom: 0.8rem;
}
.order-confirmed__price__wrappar {
  display: flex;
  gap: 0.8rem;
}
.order-confirmed__amount {
  font-weight: 600;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-red);
}
.order-confirmed__price {
  font-weight: 400;
  font-style: Regular;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-500);
}
.order-confirmed__totalPrice {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0%;
}
.order__price__wrappar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__title {
  font-weight: 400;
  font-size: var(--text-preset-4-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-900);
}
.order__price {
  font-weight: 700;
  font-size: var(--text-preset-2-size);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-rose-900);
}
.order__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  border-radius: 999px;
  background-color: transparent;
  border: 0;
  background-color: var(--color-red);
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-white);
  line-height: 100%;
  letter-spacing: 0%;
  &:hover {
    background-color: #952c0b;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .desserts {
    width: 100%;
  }
  .your-cart {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .desserts {
    row-gap: 2.4rem;
  }
}
